<div class="steps">

    <div class="nextstep" style="background-color: #D0F1FF;">
        <div class="nextstep-title">
            Upgrade Your Plan
        </div>
        <div class="nextstep-description">
            You are currently on lite free plan, limited <br>
            to 10 sales a day.
        </div>
        <button class="nextstep-button">
            Upgrade Plan
        </button>
    </div>

    <div class="nextstep" style="background-color: #D0FFE3;">
        <div class="nextstep-title">
            Finish Setup
        </div>
        <div class="nextstep-description">
            Take the next step to get most out of OSTGO.
        </div>
        <button class="nextstep-button">
            Finish Setup
        </button>
    </div>

    <div class="nextstep" style="background-color: #FED0FF;">
        <div class="nextstep-title">
            Help & Support
        </div>
        <div class="nextstep-description">
            Need help? Don't worry, we'r here.
        </div>
        <button class="nextstep-button">
            Let's Talk
        </button>
    </div>

    <div class="nextstep" style="background-color: #EDD28D;">
        <div class="nextstep-title">
            Tips & Resources
        </div>
        <div class="nextstep-description">
            All the resources & tips which <br>
            you need for success automation.
        </div>
        <button class="nextstep-button">
            Let's Read
        </button>
    </div>
</div>